body{
    margin: 0px;
    padding: 0px;
    /* background-color: #007bff; */
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type:lower-roman;
}

/*navigation*/
#nav{
    background-color: #343a40;
    position:sticky;
    top: 0px;
}

#nav #cont{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
    height: 50px;
    list-style-type: none;
}

#cont li a{
    text-decoration: none;
    font-size: 20px;
    color: #6c757d;
    display: block;
    padding: 15px;
}

#cont li a:hover{
    color: orange;
}

#menu{
    list-style-type: none;
    padding: 0px;
    position: absolute;
    display: none;
}

#menu li a{
    border-bottom: 1px solid white;
}

#dropdown:hover #menu{
    display: block;
    background-color:rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


/*wallpaper*/
#wallpaper{
    margin-top: 20px;
}

#wallpaper div{
    padding: 20px;
    width: 80%;
    margin: auto;
}

#wallpaper div img{
    width: 100%;
}


/*main*/
#main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #0d6efd;
}

#main div{
    width: 40%;
    margin: auto;
}

#main div img{
    height: 400px;
    box-shadow: 10px 10px 10px black;
}

#main #right{
    background-color: white;
    padding: 40px;
    border-radius: 6px;
}

#main #right h1{
    color: red;
    font-size: 40px;
    border-bottom: 3px solid black;
}

#main #right p{
    font-size: 20px;
    color: black;
}

/*gameplay*/
#gameplay{
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 6px;
}

#gameplay h1{
    color: red;
    border-bottom: 3px solid black;
}


/*maps*/
#maps{
    margin-top: 20px;
    padding: 20px;
    background-color: gold;
}

#maps #maptop{
    color: red;
    font-weight: bold;
    text-align: center;
}

#maps #top,#bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 8px;
}

#maps div div{
    background-color: white;
    color: black;
    border: 1px solid white;
    width: 450px;
    height: 500px;
    border-radius: 6px;
}

.img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#maps div div{
    text-align: center;
}

#maps div div h1{
    color: red;
    border-bottom: 2px solid black
}

#maps div div p{
    width: 90%;
    margin: auto;
}

/*gametype*/
#gametype{
    background-color: orangered;
    padding: 20px;
    margin-top: 20px;
}

#gametype #gttop #gttop1,#gttop2{
    color: white;
    border: none;
    text-align: center;
}


#gametype .type{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
}

#gametype .type .left{
    width: 40%;
    margin: auto;
}


#gametype .type .right{
    width: 40%;
    margin: auto;
}

#gametype .type .left2{
    width: 40%;
    margin: auto;
}


#gametype .type .right2{
    width: 40%;
    margin: auto;
}

.right img{
    width: 100%;
    height: 300px;
    box-shadow: 10px 10px 10px black;
}

.left2 img{
    width: 100%;
    height: 300px;
    box-shadow: 10px 10px 10px black;
}

#gametype h1{
    color: red;
    border-bottom: 3px solid black;
}

/*subscribe*/
#subscribe{
    background-color: orange;
    color: white;
    margin-top: 20px;
    padding: 80px;
}

#subscribe h1{
    text-align: center;
    font-size: 28px;
}

#subscribe h2{
    text-align: center;
    font-size: 18px;
}

#subscribetop{
    position: relative;
}

#subscribe i{
    position: absolute;
    top: 95px;
    left: 585px;
    font-size: 18px;
}

#subscribe #subscribebottom{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#subscribebottom #email{
    border-radius: 6px;
    border: none;
    font-size: 20px;
    padding: 12px 22px;
    background-color: maroon;
    color: pink;
}

#email::placeholder {
    color: white;
    border: none;
}

#subscribebottom #btn{
    border-radius: 6px;
    border: none;
    font-size: 20px;
    padding: 12px 22px;
    background-color: orangered;
    color: white;
}

#subscribebottom #btn:hover{
    color: gold;
}

/*footer*/
#footer{
    background-color: #343a40;
    margin-top: 20px;
    padding: 20px;
}

#footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#footer a{
    text-decoration: none;
}

#footer div h1{
    color: #6c757d;
    font-weight: bolder;
}

#footer div i{
    color: #6c757d;
    font-size: 30px;
}

#footer div h1:hover{
    color: orange;
}

#footer div i:hover{
    color: orange;
}


/*----MOBILE VERSION----*/
@media (max-width:600px){

#nav #cont{
    gap: 10px;
} 
    
#cont li a{
    font-size: 10px;
}
            
#dropdown:hover #menu{
    padding: 13px;
}
    
/*wallpaper*/
#wallpaper div{
    width: 80%;
}

#wallpaper div img{
    width: 100%;
}


/*main*/
#main{
    flex-direction: column;
}

#main div{
    width: 90%;
    margin: auto;
}

#main div img{
    width: 100%;
    height: 100%;
}

#main #right{
    padding: 20px;
}

#main #right h1{
    font-size: 30px;
    text-align: center;
}

#main #right p{
    font-size: 15px;
    text-align: center;
}

/*gameplay*/
#gameplay{
    margin: 20px;
    padding: 20px;
}

#gameplay h1{
    font-size: 20px;
    text-align: center;
}

#gameplay p{
    font-size: 15px;
    text-align: center;
}


/*maps*/
#maps #top,#bottom{
    flex-direction: column;
}

#maps div div{
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: 100%;
}

#maps div div h1{
    color: red;
    font-size: 20px;
}

#maps div div p{
    font-size: 15px;
}

/*gametype*/
#gametype{
    padding: 20px;
    margin-top: 20px;
}

#gametype .type{
    flex-direction: column;
}

#gametype .type .left{
    width: 100%;
    margin: auto;
}

#gametype .type .right{
    width: 100%;
    margin: auto;
}

#gametype .type .left2{
    width: 100%;
    margin: auto;
}

#gametype .type .right2{
    width: 100%;
    margin: auto;
}

.right img{
    width: 100%;
    height: 100%;
}

.left2 img{
    width: 100%;
    height: 100%;
}

#gametype h1{
    font-size: 23px;
    text-align: center;
}

#gametype p{
    font-size: 15px;
    text-align: center;
}

/*subscribe*/
#subscribe{
    margin-top: 20px;
    padding-top:50px;
}

#subscribe h1{
    font-size: 23px;
    text-align: center;
}

#subscribetop{
    position: relative;
}

#subscribe i{
    position: absolute;
    top: 110px;
    left: 105px;
    font-size: 18px;
}

#subscribe #subscribebottom{
    flex-direction: column;
}

#subscribebottom #email{
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%;
}

#email::placeholder {
    color: white;
}

#subscribebottom #btn{
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 20px;
    width: 270px;
}


/*footer*/
#footer{
    padding: 15px;
}

#footer div{
    gap: 18px;
}

#footer div h1{
    font-size: 15px;
}

#footer div i{
    font-size: 20px;
}

}

/*----TABLET VERSION----*/
@media (min-width:601px) and (max-width:900px){

/*navigation*/
#nav #cont{
    gap: 15px;
}


#cont li a{
    font-size: 15px;
}

/*wallpaper*/
#wallpaper div{
    width: 80%;
}

#wallpaper div img{
    width: 100%;
}

/*main*/
#main{
    flex-direction: column;
}
    
#main div{
    width: 90%;
    margin: auto;
}
    
#main div img{
    width: 100%;
    height: 100%;
}
    
#main #right{
    padding: 15px;
}
    
#main #right h1{
    font-size: 25px;
    text-align: center;
}        
    
#main #right p{
    font-size: 15px;
    text-align: center;
}

/*gameplay*/
#gameplay{
    margin: 20px;
    padding: 20px;
}

#gameplay h1{
    font-size: 20px;
    text-align: center;
}

#gameplay p{
    font-size: 15px;
    text-align: center;
}


/*maps*/
#maps #top,#bottom{
    flex-direction: column;
}

#maps div div{
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: 100%;
}

#maps div div h1{
    color: red;
    font-size: 20px;
}

#maps div div p{
    font-size: 15px;
}

/*gametype*/
#gametype{
    padding: 20px;
    margin-top: 20px;
}

#gametype .type{
    flex-direction: column;
}

#gametype .type .left{
    width: 100%;
    margin: auto;
}

#gametype .type .right{
    width: 100%;
    margin: auto;
}

#gametype .type .left2{
    width: 100%;
    margin: auto;
}

#gametype .type .right2{
    width: 100%;
    margin: auto;
}

.right img{
    width: 100%;
    height: 100%;
}

.left2 img{
    width: 100%;
    height: 100%;
}

#gametype h1{
    font-size: 23px;
    text-align: center;
}

#gametype p{
    font-size: 15px;
    text-align: center;
}

/*subscribe*/
#subscribe{
    padding-top:30px;
}

#subscribe h1{
    font-size: 20px;
}

#subscribetop{
    position: relative;
}

#subscribe i{
    position: absolute;
    top: 80px;
    left: 230px;
}

#subscribebottom #email{
    font-size: 15px;
    padding: 10px 18px;
}

#subscribebottom #btn{
    font-size: 15px;
    padding: 10px 18px;
}

/*footer*/
#footer div{
    gap: 15px;
}

#footer div h1{
    font-size: 15px;
}

#footer div i{
    font-size: 18px;
}


}